.layout {
    display: flex;
  }
  
  .sidebar {
    width: 240px; 
    margin-top: 70px;
    transition: 0.3s;
  }
  
  .sidebar.collapsed {
    width: 60px; 
  }
  
  .main {
    /* flex-grow: 1; */
    /* margin-right: 240px;  */
    transition: margin-right 0.3s;
  }
  
  /* .sidebar.collapsed ~ .main {
    margin-right: 60px;
  } */
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--main-color);
  }
  
  .sidebar {
    position: relative;
    background-color: white;
    color: var(--main-color);
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    position: fixed;
    width: 16% !important;
    height: 100% !important;
    z-index: 985;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar.collapsed {
    transition: 0.3s;
    width: 5% !important;
  }
  
  .toggle-btn {
    position: absolute;
    top: 50px;
    left: -20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
  }
  
  .header-left{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-profile {
    text-align: center;
    padding-top: 10px;
    flex-shrink: 0;
    width: 115px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .user-profile h4,
  .user-profile p {
    margin: 10px 0;
    color: var(--main-color);
  }
  
  .menu {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .menu a {
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 6px;
    transition: 0.3s;
    cursor: pointer;
  }
  
    .menu li {
      padding: 4px;
    }
  
    .menu a i {
      margin-right: 5px;
    }
  
    .menu a:hover {
      background-color: var(--second-color);
      color: white;
    }
  
    .menu .submenu a.a-subMenu:hover {
      background-color: #c7cadc !important;
    }
  
    .router-active,
    .activSub {
      color: var(--second-color) !important;
      border-radius: 6px !important;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: -1%;
      text-align: right;
    }
  
    .submenu {
      margin-top: 6px !important;
      list-style: none;
      padding-left: 6px;
      padding-right: 2px !important;
      max-height: 0;
      opacity: 0;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: 0.5s;
      background-color: #FAFBFF;
      border-width: 0px 1px 1px 1px;
      border-style: solid;
      border-color: #00000005;
    }
  
    .submenu.open {
      max-height: 500px;
      opacity: 1;
    }
  
    .submenu li {
      padding: 4px 0 !important;
      width: 100%;
    }
  
    .submenu a {
      font-size: 14px;
      color: var(--main-color);
    }
  
    .submenu li a i {
      font-size: 10px !important;
      margin-right: 0 !important;
    }
  
    .menu a.activSide {
      background: linear-gradient(180deg, #445CA4 -30.68%, #5F73AE 53.58%, #3E4F81 143.18%) !important;
      color: white !important;
    }
  
    .logout {
      padding-block: 8px;
      transition: 0.3s;
      cursor: pointer;
      flex-shrink: 0;
      margin-top: auto;
      background-color: white;
  
      a,
      i {
        transition: 0.3s;
      }
    }
  
    .logout:hover {
      background-color: #c7cadc !important;
  
      a {
        transform: translateX(-7px);
      }
  
      i {
        transform: translateX(7px);
      }
    }
  
  /* @media (max-width: 992px) {
    .sidebar {
      width: 60px !important;
    }
  
    .sidebar:not(.collapsed) {
      width: 5% !important;
    }
  
    .sidebar.collapsed .menu span,
    .sidebar.collapsed .user-profile {
      display: none;
    }
  } */
  
    .menu a i {
      min-width: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .sidebar.collapsed .menu span,
    .sidebar.collapsed .user-profile h4,
    .sidebar.collapsed .user-profile p,
    .sidebar.collapsed .logout a {
      display: none;
    }
  
    .sidebar.collapsed .submenu {
      display: none;
    }
  
    .fa-circle{
      font-size: 8px !important;
    }
    .form-check-input {
      width: 3em;
      height: 1.5em;
    }
  
    .a-subsubMenu{
      display: flex !important;
      justify-content: space-between !important;
    }
  
  
  
    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    
    .header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
      background: #fff;
      box-shadow: 0px 12px 24px -4px #919EAB1F !important;
      z-index: 1000;
    }
    
    .search {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    
    .search input {
      padding: 6px 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    
    .search button {
      background: #2a4dff;
      border: none;
      padding: 6px 10px;
      border-radius: 6px;
      color: white;
    }
    
    .actions {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    
    .notification {
      position: relative;
      background: none;
      border: none;
      font-size: 18px;
    }
    
    .pi-bell{
      font-size: 22px;
      color: #445CA4;
      margin-top: 4px;
    }
    .badge {
      position: absolute;
      top: -5px;
      right: -8px;
      background: #BA1A1A;
      color: white;
      font-size: 12px;
      padding: 4px 6px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .profile {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
    }
    
    .profile img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    
    .content {
      flex: 1;
      padding: 31px;
      margin-top: 40px;
      margin-right: 240px;
      background: #F8F9FF;
      transition: margin-right 0.3s;
      overflow-y: auto;
    }
  
  
    .route {
      font-weight: 700;
      font-size: 22px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: right;
    }
    
    .date {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #445CA4;
    }
  
    
  .logout {
    padding-block: 8px;
    transition: 0.3s;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: auto;
    background-color: white;
  
    a,
    i {
      transition: 0.3s;
    }
  }
  
  .logout:hover {
    background-color: #c7cadc !important;
  
    a {
      transform: translateX(-7px);
    }
  
    i {
      transform: translateX(7px);
    }
  }
  .sidebar.collapsed ~ .main .content {
    margin-right: 60px;
  }