<main id="list-purchase-request">
  <div class="container-fluid mt-4">
    <!-- Breadcrumb and Add Button -->
    <div class="top">
      <div class="d-flex justify-content-between align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 justify-content-center flex-row-reverse" dir="rtl">
            <li class="breadcrumb-item active" aria-current="page">طلبات الشراء</li>
            <li class="breadcrumb-item"><a routerLink="/dashboard">إدارة الشركة</a></li>
          </ol>
        </nav>
        <div>
          <button class="btn-blue" data-bs-toggle="modal" data-bs-target="#addPurchaseRequestModal">إضافة طلب شراء</button>
        </div>
      </div>
    </div>
    <p-toast position="top-left"></p-toast>
    <hr />

    <!-- Search and Actions -->
    <div class="grid-list">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="search-wrapper">
          <input
            type="text"
            class="form-control search-input"
            [(ngModel)]="searchTerm"
            (keyup.enter)="search()"
            placeholder="ابحث برقم الطلب..."
          />
          <span class="search-icon">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <div>
          <button class="btn-outline-blue me-2">فلتر</button>
          <button class="btn-orange me-2">تصدير</button>
          <i class="fa-solid fs-5 fa-print me-2"></i>
          <i class="fa-solid fs-5 fa-rotate-right me-2"></i>
          <i class="fa-solid fs-5 fa-expand me-2"></i>
        </div>
      </div>

      <!-- Table -->
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>رقم الطلب</th>
            <th>تاريخ الطلب</th>
            <th>اسم المخزن</th>
            <th>الغرض</th>
            <th>الحالة</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="purchaseRequests.length > 0">
          <tr *ngFor="let order of purchaseRequests; trackBy: trackByRequest">
            <td class="id">{{ order.requestNumber }}</td>
            <td>{{ order.requestDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ order.storeName }}</td>
            <td>{{ order.purpose || '-' }}</td>
            <!-- <td>
              <span
                class="custom-badge text-white"
                [ngStyle]="{ backgroundColor: getStatusColor(order.status) }"
              >
                {{ getStatusName(order.status) }}
              </span>
            </td> -->
            <td>
              <span class="status-dot me-2" [ngClass]="getStatusDotClass(order.status)"></span>
              {{ getStatusName(order.status) }}
            </td>
            <!-- <td>
              <button class="btn btn-primary btn-sm mx-1"><i class="fa fa-print"></i></button>
              <button class="btn btn-warning btn-sm mx-1" (click)="editPurchaseRequest(order.id)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm mx-1" (click)="deletePurchaseRequest(order.id)">
                <i class="fa fa-trash"></i>
              </button>
            </td> -->
            <td class="text-center">
              <div class="dropdown">
                <button class="btn p-0 border-0 bg-transparent" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots fs-5" style="color: var(--text-blue);"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end custom-dropdown" dir="rtl">
                  <li><button class="dropdown-item" (click)="generatePurchaseRequestPDFById(order.id)">طباعة</button></li>
                  <hr class="m-0">
                  <li><button class="dropdown-item" (click)="editPurchaseRequest(order.id)">تعديل</button></li>
                  <hr class="m-0">
                  <li><button class="dropdown-item custom-danger" (click)="deletePurchaseRequest(order.id)">حذف</button></li>
                </ul>
              </div>
            </td>
            
            
          </tr>
        </tbody>
        <tbody *ngIf="purchaseRequests.length === 0">
          <tr>
            <td colspan="6" class="text-center">لا يوجد طلبات شراء</td>
          </tr>
        </tbody>
      </table>

      <!-- <div dir="rtl">
        <p-paginator
        [rows]="pageSize"
        [totalRecords]="totalCount"
        [rowsPerPageOptions]=""
        [showFirstLastIcon]="true"
        [showJumpToPageDropdown]="false"
        [showPageLinks]="true"
        [pageLinkSize]="5"
        [dir]="'rtl'"
        [currentPageReportTemplate]="'عرض {first} إلى {last} من {totalRecords}'"
        (onPageChange)="onPageChange($event)">
      </p-paginator>
      </div> -->

      <!-- Pagination --> 
      <div class="d-flex justify-content-between align-items-center mt-3" *ngIf="totalCount > pageSize">
        <nav >
           <ul class="pagination pagination-sm mb-0"> 
            <li class="page-item" [class.disabled]="currentPage === 1"> <button class="page-link" (click)="goToPage(currentPage - 1)">&lt;</button> 
            </li> 
            <li class="page-item" *ngFor="let p of [].constructor(math.ceil(totalCount / pageSize)); let i = index" [class.active]="currentPage === i + 1" > 
            <button class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</button> 
            </li> 
            <li class="page-item" [class.disabled]="currentPage === math.ceil(totalCount / pageSize)"> 
            <button class="page-link" (click)="goToPage(currentPage + 1)">&gt;</button> 
            </li> 
           </ul> 
        </nav> 
        <div class="pagination-counter">
          <p class="m-0 text-secondary">
            عرض
            <span class="mx-1 fw-bold text-blue">{{
              currentPage
            }}</span>
            من
            <span class="mx-1 fw-bold text-blue">{{ math.ceil(totalCount / pageSize) }}</span>
          </p>
        </div>
      </div>

    </div>
  </div>
</main>



<div class="modal fade" id="addPurchaseRequestModal" tabindex="-1" aria-labelledby="addPurchaseRequestModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header justify-content-center">
              <h5 class="modal-title" id="addPurchaseRequestModalLabel">
                  {{ isEditMode ? 'تعديل طلب شراء' : 'إضافة طلب شراء' }}
              </h5>                  
          </div>
          <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
              <form [formGroup]="purchaseRequestForm" (ngSubmit)="addPurchaseRequest()">
                  <div class="row p-3 mb-3">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="form-label">الغرض</label>
                              <input type="text" formControlName="purpose" class="form-control shadow-none text-end">
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="form-label">تاريخ الطلب</label>
                              <input type="date" formControlName="requestDate" class="form-control shadow-none text-end">
                              
                              <div class="text-danger" *ngIf="purchaseRequestForm.get('requestDate')?.errors?.['notToday'] && purchaseRequestForm.get('requestDate')?.touched">
                                لا يمكن اختيار تاريخ سابق
                            </div>
                          </div>
                      </div>

                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="form-label">اسم المخزن</label>
                              <select class="form-select shadow-none" formControlName="storeId">
                                <option disabled selected value="">اختر المخزن</option>
                                <option *ngFor="let i of stores" [value]="i.id">{{ i.name }}</option>
                              </select>
                          </div>
                      </div>

                      <div class="col-md-12 mt-3">
                          <div class="form-group">
                              <label class="form-label">ملاحظات</label>
                              <input type="text" formControlName="notes" class="form-control shadow-none text-end">
                          </div>
                      </div>

                      <div formArrayName="items" class="mt-3">
                        <div class="row mb-3" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                          <div class="col-md-4">
                            <label class="form-label">الصنف <div class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#addItemModal"> </div> </label>
                            <select class="form-select shadow-none" formControlName="itemId">
                              <option disabled selected value="">اختر الصنف</option>
                              <option *ngFor="let i of allItems" [value]="i.id">{{ i.name }}</option>
                            </select>
                          </div>
                      
                          <div class="col-md-3">
                            <label class="form-label">الكمية</label>
                            <input type="number" class="form-control shadow-none" formControlName="quantity">
                          </div>
                      
                          <div class="col-md-4">
                            <label class="form-label">ملاحظات</label>
                            <input type="text" class="form-control shadow-none" formControlName="notes">
                          </div>
                      
                          <div class="col-md-1 d-flex align-items-end">
                            <button type="button" class="btn btn-danger" (click)="removeItemRow(i)" *ngIf="items.length > 1">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                      
                        <div class="text-end mb-3">
                          <button type="button" class="btn btn-success" (click)="addItemRow()">
                            <i class="fa fa-plus"></i> إضافة صنف
                          </button>
                        </div>
                      </div>
                  </div>

                  <div class="text-center">
                      <button type="submit" class="btn-blue px-4" [disabled]="purchaseRequestForm.invalid">
                          {{ isEditMode ? 'حفظ التعديلات' : 'إضافة طلب شراء' }}
                        </button>     
                <button type="button" class="btn-orange mx-2" data-bs-dismiss="modal" (click)="resetForm()">خروج</button>             

                  </div>
              </form>
          </div>
      </div>
  </div>
</div>




<div id="printablePurchaseRequest" dir="rtl" class="container border rounded p-4">
    <div class="d-flex justify-content-around align-items-center mb-2">
      <img src="assets/vendors/imgs/logo.png" alt="logo" style="height: 100px;" />
      <div class="text-center">
        <h5 class="fw-bold mb-1"> طلب شراء  <span class="text-primary"> {{ purNumber }}</span></h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-2">
        <strong>تاريخ الطلب:</strong> {{ purchaseRequestForm.value.requestDate | date: 'yyyy-MM-dd' }}
      </div>
      <div class="col-md-6 mb-2">
        <strong>المخزن:</strong> {{ getStoreName(purchaseRequestForm.value.storeId) }}
      </div>
      <div class="col-md-6 mb-2">
        <strong>الغرض:</strong> {{ purchaseRequestForm.value.purpose }}
      </div>
      <div class="col-md-6 mb-2">
        <strong>الملاحظات:</strong> {{ purchaseRequestForm.value.notes || '----' }} 
      </div>
    </div>

    <table class="table table-bordered mt-4">
      <thead>
        <tr>
          <th>الصنف</th>
          <th>الكمية</th>
          <th>ملاحظات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of purchaseRequestForm.value.items">
          <td>{{ getItemName(item.itemId) }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.notes || '----' }}</td>
        </tr>
      </tbody>
    </table>

    <table class="table mt-4">
      <thead>
        <tr>
          <th>الإدارة الطالبة</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>--------------------</td>
        </tr>
      </tbody>
    </table>

    <div class="row mt-4">
      <div class="col-md-6">
        <strong>إسم المستخدم:</strong> {{ userName }}
      </div>
      <div class="col-md-6 text-end">
        <strong>التاريخ:</strong> {{ today }}
      </div>
    </div>
</div>



<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
          <h5 class="modal-title" id="addItemModalLabel">
              {{ isEditMode ? 'تعديل صنف' : 'إضافة صنف جديد' }}
            </h5>              
      </div>
      <div class="modal-body" style="background-image: url('assets/vendors/imgs/pattern.png'); background-size: cover;">
        <form [formGroup]="itemForm" (ngSubmit)="addItem()">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label for="nameAr" class="form-label">اسم الصنف</label>
              <input type="text" class="form-control shadow-none" formControlName="nameAr" id="nameAr" placeholder="اسم الصنف">
              <div *ngIf="itemForm.get('nameAr')?.invalid && itemForm.get('nameAr')?.touched" class="custom-danger">
                <ng-container *ngIf="itemForm.get('nameAr')?.errors?.['required']">هذا الحقل مطلوب</ng-container>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <label for="nameEn" class="form-label">اسم الصنف بالإنجليزية</label>
              <input type="text" class="form-control shadow-none" formControlName="nameEn" id="nameEn" placeholder="الاسم بالإنجليزية">
              <div *ngIf="itemForm.get('nameEn')?.invalid && itemForm.get('nameEn')?.touched" class="custom-danger">
                <ng-container *ngIf="itemForm.get('nameEn')?.errors?.['required']">هذا الحقل مطلوب</ng-container>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <label for="groupId" class="form-label">المجموعة</label>
              <!-- <select class="form-select shadow-none" formControlName="groupId" id="groupId">
                <option selected disabled value="">اختر المجموعة</option>
                <option [value]="1">خامات</option>
                <option [value]="2">مواد</option>
                <option [value]="3">خدمات</option>
              </select> -->
              <!-- <ng-select [items]="groups" 
              formControlName="groupId"
              placeholder="اختر المجموعة"
              bindLabel="name"
              bindValue="id" 
              class="text-end shadow-none w-100"
              [searchable]="true">
              </ng-select> -->
              <div *ngIf="itemForm.get('groupId')?.invalid && itemForm.get('groupId')?.touched" class="custom-danger">
                <ng-container *ngIf="itemForm.get('groupId')?.errors?.['required']">هذا الحقل مطلوب</ng-container>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <label for="unit" class="form-label">الوحدة</label>
              <!-- <select class="form-select shadow-none" formControlName="unit" id="unit">
                <option selected disabled value="">اختر الوحدة</option>
                <option value="كجم">كجم</option>
                <option value="قطعة">قطعة</option>
                <option value="لتر">لتر</option>
                
              </select> -->
              <!-- <ng-select [items]="units" 
                formControlName="unitId"
                placeholder="اختر الوحدة"
                bindLabel="name"
                bindValue="id" 
                class="text-end shadow-none w-100"
                [searchable]="true">
                </ng-select> -->
              <div *ngIf="itemForm.get('unitId')?.invalid && itemForm.get('unitId')?.touched" class="custom-danger">
                <ng-container *ngIf="itemForm.get('unitId')?.errors?.['required']">هذا الحقل مطلوب</ng-container>
              </div>
            </div>

            <div class="col-md-4 mb-2">
              <label for="orderLimit" class="form-label">حد الطلب</label>
              <input type="number" class="form-control shadow-none" formControlName="orderLimit" id="orderLimit" placeholder="حد الطلب">
            </div>

            <div class="col-md-4 mb-2">
              <label for="cost" class="form-label">التكلفة</label>
              <input type="number" class="form-control shadow-none" formControlName="cost" id="cost" placeholder="التكلفة">
            </div>

            <div class="col-md-4 mb-2">
              <label for="openingBalance" class="form-label">الرصيد الافتتاحي</label>
              <input type="number" class="form-control shadow-none" formControlName="openingBalance" id="openingBalance" placeholder="الرصيد الافتتاحي">
            </div>

            <div class="col-md-4 mb-2">
              <label for="salesTax" class="form-label">ضريبة المبيعات</label>
              <input type="number" class="form-control shadow-none" formControlName="salesTax" id="salesTax" placeholder="الضريبة %">
            </div>

            <div class="col-md-4 mb-2">
              <label for="price" class="form-label">السعر</label>
              <input type="number" class="form-control shadow-none" formControlName="price" id="price" placeholder="السعر">
            </div>

            <div class="col-md-4 mb-2">
              <label for="hasBarcode" class="form-label">له باركود؟</label>
              <select class="form-select shadow-none" formControlName="hasBarcode" id="hasBarcode">
                <option [value]="true">نعم</option>
                <option [value]="false">لا</option>
              </select>
            </div>

            <!-- <div class="col-md-6 mb-2">
              <label for="typeId" class="form-label">نوع الصنف</label>
              <select class="form-select shadow-none" formControlName="typeId" id="typeId">
                <option selected disabled value="">اختر نوع الصنف</option>
                <option [value]="1">منتج</option>
                <option [value]="2">خدمة</option>
              </select>
              <div *ngIf="itemForm.get('typeId')?.invalid && itemForm.get('typeId')?.touched" class="custom-danger">
                <ng-container *ngIf="itemForm.get('typeId')?.errors?.['required']">هذا الحقل مطلوب</ng-container>
              </div>
            </div> -->
          </div>

          <div class="text-center mt-3">
              <button type="submit" class="btn-blue" [disabled]="itemForm.invalid">
                  {{ isEditMode ? 'حفظ التعديلات' : 'إضافة الصنف' }}
                </button>     
                <button type="button" class="btn-orange mx-2" data-bs-dismiss="modal">خروج</button>             
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
