<main id="list-main-groups">
    <div class="container-fluid">
      <!-- <p-toast position="top-left"></p-toast> -->
        <div class="row">
            <div class="col-12 mt-3">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>اسم المجموعة الرئيسية</th>
                            <!-- <th>الغرض</th> -->
                            <th>الإجراءات</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="mainGroups().length > 0">
                          <tr *ngFor="let order of mainGroups()">
                            <td class="fw-bold">{{ order.name }}</td>
                            <!-- <td>{{ order.purpose || '-' }}</td> -->
                            <td>                            
                              <button class="btn btn-warning mx-1" (click)="editMainGroup(order.id)">
                                  <i class="fa fa-edit"></i>
                              </button>                          
                              <button class="btn btn-danger mx-1" (click)="deleteMainGroup(order.id)">
                                  <i class="fa fa-trash"></i>
                              </button>  
                            </td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="mainGroups()?.length === 0">
                          <td class="text-center" colspan="6">
                            لا يوجد مجموعات رئيسية حتى الان
                          </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



